{{define "footer"}}
<footer>
    <div class="text-bg-primary text-wrap py-5">
        <p class="text-center">&copy; 2025 <span><a href="https://github.com/xxxx2077" class="text-reset">winson
                    Ye</a></span>
    </div>
</footer>
{{end}}